* text eol=lf

*.go -text diff=golang

*.sh text

Makefile text eol=lf

*.sql  text eol=lf linguist-detectable=true

*.gitattributes      text
.gitignore           text

.gitattributes       export-ignore
.gitignore           export-ignore
